*{
	margin: 0;
	padding: 0;
	font-family: "Times New Roman";
	font-size: 15px;
}

body{
	background-color: #292727;
	color: #fff;
	max-width: 1500px;
}


h2{
	font-size: 30px;
}

p{
	font-size: 20px;
}

footer{
	width: 1500px;
	height: 40px;
	background-color: #222;
	position: relative;
	top: 200px;
	text-align: center;

}

#footer{
	position: relative;
	top:12px;
	color: #636060;
}

.row{
	margin:20px;
}

.presentation{
	position: relative;
	left: 25%;
	top: 80px;
	text-align: center;
	width: 800px;
	height: 200px;
	border: dashed 1px #fff;
	padding: 15px;
}

.resume{
	text-align: justify;
	top: 20px;
	position: relative;
}

#home{
	font-size: 30px;
	font-family: "Arial";
	margin-bottom: 20px;
	position: relative;
	top: 40px;
	left: 80px;
}

.menu{
	
	width: 1500px;
	height: 50PX;
	background-color: #222;
}

.menu ul{
	list-style: none;
	position: relative;
	margin-left: 50px;


}

.menu ul li{
	width: 200px;
	float: left;
	text-align: center;

}

.menu a{
	padding: 15px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: #222;
	color: #fff;
	font-size: 20px;	
	}

.menu a:hover{
	background-color: #fff;
	color: #222;
	border: solid 2px;
}

label[for="bt_menu"]{
	padding: 5px;
	background-color: #222;
	color: #fff;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	width: 50px;
	height: 50px;
}

#bt_menu{
	display: none;
}

label[for="bt_menu"]{
	display: none;
}

@media(max-width: 800px){
	label[for="bt_menu"]{
	display: block;
	border-radius: 40%;
	height: 40px;
}

	#bt_menu:checked ~ .menu{
		margin-left: 0;
	}

	.menu{
		margin-top: 5px;
		margin-left: -100%;
		transition: all .4s;
	}

	.menu ul li{
		width: 100%;
		float: none;
	}
}